
    /**
    * getRebase
    * Get Broker Rebate
    * /api/v1/broker/api/rebase/download
    */
    @Test
    public void testGetRebase() throws Exception {
        GetRebaseReq.GetRebaseReqBuilder builder = GetRebaseReq.builder();
        builder.begin(?).end(?).tradeType(?);
        GetRebaseReq req = builder.build();
        GetRebaseResp resp = api.getRebase(req);
        Assertions.assertNotNull(resp.getUrl());
        log.info("resp: {}", mapper.writeValueAsString(resp));
    }

