{{>partial_header}}
package {{package}};

public interface {{classname}} {
{{#operations}}
    {{#operation}}
    /**
    * {{summary}}
    *
    * <p>{{notes}}
    *
    * <p>Extra API Info:
    *
    * <ul>
    {{#vendorExtensions.x-extra-comment-kv}}
    * <li>{{.}}
    {{/vendorExtensions.x-extra-comment-kv}}
    * </ul>
    *
    * @see <a href="{{vendorExtensions.x-api-doc}}">docs</a>
    * {{#isDeprecated}}
    * @deprecated{{/isDeprecated}}
    */
    {{vendorExtensions.x-meta.methodServiceFmt}}Resp {{vendorExtensions.x-meta.method}}({{#hasParams}}{{vendorExtensions.x-meta.methodServiceFmt}}Req req{{/hasParams}});

    {{/operation}}
{{/operations}}
}