{{>partial_header}}
package {{package}};
import com.kucoin.universal.sdk.internal.interfaces.Transport;

class {{classname}}Impl implements {{classname}} {
    private Transport transport;

    public {{classname}}Impl(Transport transport)
    {
        this.transport = transport;
    }

{{#operations}}
    {{#operation}}
    public  {{vendorExtensions.x-meta.methodServiceFmt}}Resp {{vendorExtensions.x-meta.method}}({{#hasParams}}{{vendorExtensions.x-meta.methodServiceFmt}}Req req{{/hasParams}}){
        return this.transport.call("{{vendorExtensions.x-meta.domain}}", {{vendorExtensions.x-meta.broker}}, "{{httpMethod}}", "{{path}}", {{#hasParams}}req{{/hasParams}}{{^hasParams}}null{{/hasParams}}, {{vendorExtensions.x-meta.methodServiceFmt}}Resp.class, {{#vendorExtensions.x-request-force-json}}true{{/vendorExtensions.x-request-force-json}}{{^vendorExtensions.x-request-force-json}}false{{/vendorExtensions.x-request-force-json}});
    }

    {{/operation}}
{{/operations}}
}